@import '../../partialStyles/colorVariables';

.form {
  min-height: 300px;
  width: 80%;
  padding: 30px;
  border: solid 2px $dark1;
  border-radius: 1px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  transition: all 500ms;
  background-color: rgba(#fff, 0.9);
  baco &:hover {
    -webkit-box-shadow: 1px 1px 5px 1px rgba($dark1, 0.5);
    box-shadow: 1px 1px 5px 1px rgba($dark1, 0.5);
  }

  h2 {
    font-size: 2.5rem;
    margin-bottom: 5px;
  }

  p {
    font-weight: lighter;
    margin-bottom: 20px;
  }

  form {
    align-self: stretch;
  }

  small {
    display: block;
    margin-bottom: 12px;
    font-weight: lighter;
  }
}
