.face-detector {
  border: solid red 1px;
  background-color: rgba(#444, 0.7);
  margin: 0 auto;
  width: 100%;
  height: 100%;

  .image-box {
    position: relative;
    margin: 0 auto;
    //width: 600px;
    border: solid 1px blue;

    img {
      display: none;
    }
  }
}

@media (max-width: 900px) {
  .face-detector {
    width: 95%;
  }
}

@media (max-width: 700px) {
  .face-detector {
    .image-box {
      width: 95%;
    }
  }
}
