@mixin background($image) {
  width: 100vw;
  height: calc(100vh - 70px);
  position: fixed;
  top: 70px;
  left: 0;
  background-image: $image;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  z-index: -100;
}
